<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/goals/edit.css">
<%- include('../partials/nav') %>

<section class="box">
    <h1>Edit Goals</h1>
    <form action="/goals/<%= goal._id %>?_method=PUT" method="POST">
        <div>
            <label for="category">Category:</label>
            <input type="tex" name="category" id="category" value ='<%=goal.category%>'>
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="tex" name="name" id="name" value ='<%=goal.name%>'>
        </div>
        <div>
            <label for="startDateTime">StartDateTime:</label>
            <input type="date" name="startDateTime" id="startDateTime" value ='<%=goal.startDateTime%>'>
        </div>
        <div>
            <label for="endDateTime">EndDateTime:</label>
            <input type="date" name="endDateTime" id="endDateTime" value ='<%=goal.endDateTime%>'>
        </div>
        <div>
            <label for="priority">priority:</label>
            <input type="tex" name="priority" id="priority" value ='<%=goal.priority%>'>
        </div>
        <div>
            <label for="description">Description:</label>
            <!-- <input type="tex" name="description" id="description" value ='<%=goal.description%>'>
              -->
              <select name="priority" id="priority" >
                <option value="low">low</option>
                <option value="medium">medium</option>
                <option value="high">hign</option>
                <option value="urgent">urgent</option>
            </select>
        </div>
        <div>
            <label for="completed">Completed:</label>
            <input type="checkbox" name="completed" <%= goal.completed ? "checked" : "" %> >
        </div>
        <button type="submit">Submit</button>


    </form>
</section>

<%- include('../partials/footer') %>