<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Goals List</h1>
    <table id="list">
      <thead>    
        <tr>   
          <th>Category</th>
          <th>Name</th>
          <th>StartDateTime</th>
          <th>EndDateTime</th>
          <th>Priority</th>
          <th>Completed</th>
          <th></th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% goals.forEach((goal) => { %>
        <tr>
          <td><%= goal.category %></td>
          <td><%= goal.name %></td>
          <td><%= goal.startDateTime %></td>
          <td><%= goal.endDateTime %></td>
          <td><%= goal.priority %></td>
          <td><%= goal.completed %></td>
          <td><a href="/goals/<%= goal._id %>">DETAILS</a></td>
          <td>
            <form 
              action="/goals/<%= goal._id %>/edit" 
            >
              <button class="btn">✏️</button>
            </form>
          </td>
          <td>
            <form 
              action="/goals/<%= goal._id %>?_method=DELETE" method="POST"
            >
              <button type="submit">🗑️</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    
    <form action="/goals/new" >
        <button type="submit">Add Goals</button>
      </form>
  </main>

<%- include('../partials/footer') %>