<%- include('../partials/footer') %>
<%- include('../partials/html-head') %>

<main>
    <h1>Goal's details</h1>

   

    <div>Name: </div>
    <div><%=goal.name %></div>

    <div>StartDateTime: </div>
    <div><%=goal.startDateTime %></div>

    <div>EndDateTime: </div>
    <div><%=goal.endDateTime %></div>

    <div>Priority: </div>
    <div><%=goal.priority %></div>

    <div>Completed: </div>
    <div><%=goal.completed %></div>

    <div>Description: </div>
    <div><%=goal.description %></div>

</main>


<%- include('../partials/nav') %>