<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Goal's details</h1>

   

    <div>Name: </div>
    <div><%=goal.name %></div>
    
    <form 
        action="/goals/<%= goal._id %>/edit" 
    >
         <button class="btn">✏️</button>
    </form>

    <div>StartDateTime: </div>
    <div><%=goal.startDateTime %></div>

    <div>EndDateTime: </div>
    <div><%=goal.endDateTime %></div>

    <div>Priority: </div>
    <div><%=goal.priority %></div>

    <div>Completed: </div>
    <div><%=goal.completed %></div>

    <div>Description: </div>
    <div><%=goal.description %></div>

</main>


<%- include('../partials/footer') %>