<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Goal's details</h1>

   

    <div>Category: </div>
    <div><%=goal.category %></div>
    
    <form 
        action="/goals/<%= goal._id %>/edit" 
    >
         <button class="btn">✏️</button>
    </form>

    <div>Name: </div>
    <div><%=goal.name %></div>

    <div>StartDateTime: </div>
    <div><%=goal.startDateTime %></div>

    <div>EndDateTime: </div>
    <div><%=goal.endDateTime %></div>

    <div>Priority: </div>
    <div><%=goal.priority %></div>

    <div>Completed: </div>
    <div><%=goal.completed %></div>

    <div>Description: </div>
    <div><%=goal.description %></div>

    <div>Note: </div>
    <!-- <div><%=goal.note.content %></div> -->
    

    <ul>
        <% goal.note?.forEach(noteE => { %>
          <li>
            <%= noteE.content %>
          </li> 
        <% }) %>
    </ul>

    <form action="/goals/<%= goal._id %>/note" method="POST" id="add note">
      
        <textarea name="content" id="content"></textarea>
        <button type="submit">Add Note</button>
    </form>

</main>


<%- include('../partials/footer') %>